
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-row-cell:hover {
    -fx-background-color:#7c75f3;
}

.table-row-cell:focused {
    -fx-background-color: #7c75f3;
}

#planTable {
    -fx-border-color: #7c75f3;
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14;
}

#prevButton{
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-background-color: transparent;
    -fx-border-width: 2;
    -fx-text-fill: #7c75f3;
    -fx-border-color: #7c75f3;
}

#dateLabel{
    -fx-border-color: transparent;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14;
}

#dayLabel{
    -fx-border-color: #7c75f3;
    -fx-background-color: transparent;
    -fx-text-fill: #7c75f3;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-family: "Comic Sans MS";
}
#nameLabel{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14;
}