.menuButtons{
    -fx-border-radius: 20px;
    -fx-background-color: transparent;
    -fx-border-color: #f6b26b;
    -fx-font-family: "Comic Sans MS";
    -fx-font-style: italic;
    -fx-text-fill: #f6b26b;
    -fx-text-alignment: center;
    -fx-font-size: 36px;
    -fx-border-width: 3px;

}
.menuButtons:hover{
    -fx-border-color: #f6b26b;
    -fx-background-color: #f6b26b;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}